.code-github {
    display: inline-block;
    padding-bottom: 20px;
    padding-top: 20px;
}

.github-img {
    background: url('http://thecatapi.com/api/images/get?format=src&type=gif');
    height: 100px;
    width: 100px;
}

.teaser-img {
    float: left;
    height: 100%;
}

.github-background-img {
    background: rgba(22, 21, 28, 0.84);
}
