.code-github {
    display: inline-block;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
}

.teaser-img {
    float: left;
    height: 100%;
}

.github-background-img {
    background: rgba(22, 21, 28, 0.84);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
