.bar {
  --i: 0;
  position: absolute;
  top: 50%;
  left: calc(50% + (var(--i) - 5.5)*1.5em);
  animation: flip0 3.62s linear infinite;
}

.bar:nth-child(2) {
  --i: 1;
}

.bar:nth-child(3) {
  --i: 2;
}

.bar:nth-child(4) {
  --i: 3;
}

.bar:nth-child(5) {
  --i: 4;
}

.bar:nth-child(6) {
  --i: 5;
}

.bar:nth-child(7) {
  --i: 6;
}

.bar:nth-child(8) {
  --i: 7;
}

.bar:nth-child(9) {
  --i: 8;
}

.bar:nth-child(10) {
  --i: 9;
}

.bar:nth-child(11) {
  --i: 10;
}

.bar:nth-child(12) {
  --i: 11;
}

.bar:before {
  position: absolute;
  margin: -2.25em -0.375em;
  width: 0.75em;
  height: 4.5em;
  border-radius: 3px;
  /*background: rgba(calc(51 + var(--i)*50), 2, 2, 1);*/
  background: rgb(255, 255, 255);
  animation: flip1 3.62s ease-in-out calc(var(--i)*-0.0181s) infinite;
  content: '';
}

@keyframes flip0 {
  to {
    transform: rotate(0.5turn);
  }
}

@keyframes flip1 {
  0%, 50% {
    transform: none;
  }
  56%, to {
    transform: rotate(0.5turn);
  }
}
