.dividers {
    width: 100%;
    height: 100%;
    position: absolute;
    display: inline-block;
    top: 0;
    z-index: 10;
}

.divider {
    width: 50%;
    height: 100%;
    position: relative;
    transition: width 2s;
    background: white;
}

.dividers.open .divider {
    width: 0%;
}

.divider.left {
    float: left;
}

.divider.right {
    float: right;
}
