.header {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 90%;
    color: white;
}

.scroll-down-btn {
    text-align: center;
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 90%;
}

.header h6 {
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header h3 {
    text-transform: uppercase;
    letter-spacing: 9px;
}
