.header {
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  color: white;
}

.header-wrapper {
  position: relative;
}

.scroll-down-btn {
  text-align: center;
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
}

.header h6 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header h3 {
  text-transform: uppercase;
  letter-spacing: 9px;
}
