.timeline {
    padding-top: 80px;
    padding-bottom: 80px;
}

.timeline p.headline {
    margin-top: 0;
}

.timeline-entry {
    margin-bottom: 10px;
}

.timeline-entry:last-of-type {
    margin-bottom: 0px;
}
