.footer {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.link-list {
    padding-top: 20px;
    padding-bottom: 20px;
}

.link-list a {
    color: rgba(22, 21, 28, 0.73);
    text-decoration: none;
}
